
.panel-registro {
	padding: 30px; background: #fff; 	
	border: 0px solid #000000;
	padding-top: 200px; 
	margin-left: 60px;

}

.fill{
	min-height: 100%; 
	height: 100%
}

.none{
	display: none;
}

.input-number{
	background-color:
rgb(255, 255, 255)
;
background-image:
none
;
border-bottom-color:
rgb(204, 204, 204)
;
border-bottom-left-radius:
0px
;
border-bottom-right-radius:
0px
;
border-bottom-style:
solid
;
border-bottom-width:
1px
;
border-image-outset:
0px
;
border-image-repeat:
stretch
;
border-image-slice:
100%
;
border-image-source:
none
;
border-image-width:
1
;
border-left-color:
rgb(204, 204, 204)
;
border-left-style:
solid
;
border-left-width:
1px
;
border-right-color:
rgb(204, 204, 204)
;
border-right-style:
solid
;
border-right-width:
1px
;
border-top-color:
rgb(204, 204, 204)
;
border-top-left-radius:
0px
;
border-top-right-radius:
0px
;
border-top-style:
solid
;
border-top-width:
1px
;
box-shadow:
rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset
;
box-sizing:
border-box
;
color:
rgb(85, 85, 85)
;
cursor:
auto
;
display:
block
;
font-family:
"Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif
;
font-size:
14px
;
font-stretch:
normal
;
font-style:
normal
;
font-variant-caps:
normal
;
font-variant-ligatures:
normal
;
font-variant-numeric:
normal
;
font-weight:
normal
;
height:
34px
;
letter-spacing:
normal
;
line-height:
20px
;
margin-bottom:
0px
;
margin-left:
0px
;
margin-right:
0px
;
margin-top:
0px
;
padding-bottom:
6px
;
padding-left:
12px
;
padding-right:
12px
;
padding-top:
6px
;
text-align:
start
;
text-indent:
0px
;
text-rendering:
auto
;
text-shadow:
none
;
text-size-adjust:
100%
;
text-transform:
none
;
transition-delay:
0s, 0s
;
transition-duration:
0.15s, 0.15s
;
transition-property:
border-color, box-shadow
;
transition-timing-function:
ease-in-out, ease-in-out
;
user-select:
text
;
width:
100px
;
word-spacing:
0px
;
writing-mode:
horizontal-tb
;
-webkit-appearance:
none
;
-webkit-rtl-ordering:
logical
;
-webkit-tap-highlight-color:
rgba(0, 0, 0, 0)
;
-webkit-border-image:
none
;
}

